.modal-open .modal {
  display: flex !important;

  .modal-dialog {
    margin: auto;

    .modal-header {
      background-color: transparent;
      border: none;
      padding: 15px 30px 20px;

      &::before {
        display: none;
      }

      .modal-title {
        color: #333333;
      }
    }

    .modal-body {
      color: #333333;
      padding: 0 30px;

      .button.confirm.right,
      .button.confirm.right:hover {
        background-image: none;
        background-color: #00455c;
        border-color: #00455c;
      }

      .button.cancel,
      .button.cancel:hover {
        background-image: none;
        background-color: white;
        border-color: #00455c;
        color: #00455c;
      }
    }

    .modal-footer {
      border: none;
      padding: 15px 30px;
      justify-content: space-between;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}
