.find-patient {
  .search-section {
    margin-top: 1rem;
    background-color: white;
    .patient-search {
      position: relative;
      .search-icon {
        position: absolute;
        top: 1.4em;
        left: 2em;
      }
      .search-input {
        padding: 2em 2em 2em 4em;
        border-color: #eaeaea;
        font-family: CircularStd-Book;
        font-style: italic;
      }
    }
    .patient-table {
      .helper-text {
        font-size: 14px;
        padding: 0 0 0.5rem 2rem;
      }
    }
  }
}
