#user-account {
  &.edit .person,
  .details,
  .PhoneInput {
    display: grid;
  }

  &.edit form,
  .details {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .input-container {
    margin-right: 0;
  }

  label {
    span {
      font-size: 18px;
    }
  }

  .user {
    .grid-1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .grid-2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .grid-3 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .grid-4 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .grid-5 {
      grid-area: 3 / 2 / 4 / 3;
    }
    .force-password-change {
      display: flex;
      align-items: center;
      margin-top: 1em;

      span {
        margin-left: 0.5em;
      }
    }
  }

  &.edit {
    form {
      display: grid;
      clear: both;
    }
    h2 {
      float: left;
    }
    .spinner {
      clear: both;
    }
    .person {
      grid-area: 2 / 1 / 3 / 2;

      .details {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .audit {
      grid-area: 2 / 2 / 3 / 3;
    }
    .user {
      grid-area: 3 / 1 / 4 / 3;
    }
    .buttons {
      grid-area: 4 / 1 / 5 / 3;
    }
  }
}
