#app .vmp-config {
  .inner-content {
    margin-top: 1rem;
  }

  .inline-sections {
    display: flex;
    .section {
      &:first-of-type {
        margin-right: 1.5em;
      }
    }
  }

  .section {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    flex: 1;
    > label {
      margin-bottom: 0.75rem;
    }
  }

  .inline-fields {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    .input-container {
      &:not(:last-of-type) {
        margin-right: 1em;
      }
      min-width: 120px;
      &.cfl-select-multi {
        min-width: 250px;
      }
    }
    .flex-1 {
      flex: 1;
    }
    .flex-2 {
      flex: 2;
    }
    label > span {
      margin-left: 1.25rem;
    }
  }
  .order-icons {
    justify-content: center;
    width: 25px;
    :first-child {
      margin-bottom: 0.5rem;
    }
  }
  .action-icons,
  .action-icons-inner {
    @media only screen and (min-width: 577px) {
      min-width: 86px;
    }
  }
  .row-number {
    width: 2em;
  }

  .country {
    margin-bottom: 1.75rem;
    padding: 1rem 1.5rem 1.5rem;
    background-color: #fafafa;
  }

  .iris-score,
  .id-regex {
    min-width: 250px;
  }

  .glyphicon-chevron-up,
  .glyphicon-chevron-down,
  .add-item,
  .remove-item {
    &:not(.disabled) {
      cursor: pointer;
      color: #00455c;
    }
  }
}
