#app {
  .filter-input-wrapper {
    position: relative;
    flex: 1;

    .search-icon {
      position: absolute;
      top: 1em;
      left: 2em;
    }
    .filter-input {
      padding: 1.65em 1.65em 1.65em 4em;
      font-size: 16px;
      border-color: #eaeaea !important;
      font-family: CircularStd-Book;
      font-style: italic;
    }
  }
}
