.find-caregiver {
  .search-section {
    margin-top: 2rem;
    background-color: white;
    min-height: 400px;
    .caregiver-search {
      position: relative;
      .search-icon {
        position: absolute;
        top: 1.875em;
        left: 2em;
      }
      .search-input {
        padding: 2.5em 2.5em 2.5em 4em;
        border-color: #eaeaea;
        font-family: CircularStd-Book;
        font-style: italic;
      }
    }
    .caregiver-table {
    }
  }
}
