/** Fonts **/
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: normal;
  src: url('font/CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: bold;
  src: url('font/CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd-Book';
  font-style: normal;
  font-weight: normal;
  src: url('font/CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd-Book';
  font-style: italic;
  font-weight: normal;
  src: url('font/CircularStd-BookItalic.otf') format('opentype');
}

/** Common **/
html {
  font-size: 16px;
}

/** Header **/
header {
  border-radius: 0 !important;
  padding: 0 1em 0 1em !important;
  min-height: auto !important;
  display: flex !important;
}

header .user-options {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: auto;
  align-self: center;
}

header .user-options i {
  box-sizing: content-box !important;
}

header .logo {
  margin: 5px 0 !important;
}

header .logo a {
  content: url('img/logo.png');
  height: 30px !important;
  width: auto !important;
}

header nav.navbar {
  padding: 0 !important;
  flex: 1;
}

header .user-options li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

header #user-account-menu li a {
  padding: 0 !important;
}

header #session-location {
  top: 40px !important;
  left: calc(100vw - 853px) !important;
}

/** Apps **/
.homeList > a.button {
  background: white !important;
  border-color: #eaeaea !important;
  font-family: CircularStd-Book !important;
  color: black !important;
  font-size: 14px !important;
  padding: 0 25px 10px 25px !important;
  height: 145px !important;
}

.homeList > a.button > i {
  margin: 25px auto 15px auto !important;
  color: #7f7f7f !important;
  height: 45px !important;
  font-size: 40px !important;
  padding: 0 !important;
  line-height: normal !important;
}

i[class^='cfl-'] {
  padding: 0 !important;
}

i.cfl-find-patient {
  content: url('img/find-patient.png');
}

i.cfl-find-caregiver {
  content: url('img/find-caregiver.png');
}

i.cfl-register-patient {
  content: url('img/register-patient.png');
}

#apps {
  padding-left: 0 !important;
}

#tasks > div {
  padding-left: 0 !important;
}

/** disable CFL Register Patient **/
#cfl-registrationapp-registerPatient-homepageLink-cfl-registrationapp-registerPatient-homepageLink-extension {
  display: none;
}

/** Home **/
#content h4 {
  font-family: CircularStd-Book !important;
  font-size: 16px !important;
  color: #333333 !important;
  opacity: 0.5 !important;
  font-weight: normal !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.homepage-heading {
  font-size: 40px;
  color: #333333;
  padding-top: 1rem;
}

/** Breadcrumbs **/
#breadcrumbs {
  padding: 0 1rem 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#breadcrumbs {
  border-bottom: none !important;
  color: #4e5155 !important;
  font-size: 12px !important;
  background-color: transparent;
}

#breadcrumbs a,
#breadcrumbs li,
#breadcrumbs span {
  font-size: 12px !important;
  color: black !important;
  font-family: CircularStd !important;
  font-weight: normal !important;
  text-decoration: none !important;
}

#breadcrumbs .separator {
  margin: 0 0.35em !important;
  color: #4e5155 !important;
}

#breadcrumbs li:first-child a i {
  display: none;
}

#breadcrumbs li:first-child a::after {
  content: 'Home';
}

#breadcrumbs li i {
  display: none;
}

#breadcrumbs li::after {
  content: '>>';
  color: #4e5155 !important;
  margin: 0 0.1em !important;
}

#breadcrumbs li:last-child::after {
  content: none;
}

/** Breadcrumbs - Visits **/
#breadcrumbs > a:first-child::after {
  content: 'Home';
}

#breadcrumbs a:first-child {
  margin-left: 0;
  padding: 0;
}

#breadcrumbs a:first-child svg {
  display: none;
}

#breadcrumbs.breadcrumb a,
#breadcrumbs.breadcrumb span {
  margin-left: 0.35em !important;
}

#breadcrumbs span::after {
  content: '>>';
  color: #4e5155 !important;
}

#breadcrumbs span svg,
#breadcrumbs span:last-child::after {
  display: none;
}

/** Patient Dashboard **/
@media only screen and (min-width: 576px) {
  .container .dashboard .info-container:not(:first-of-type) {
    margin-left: 200px !important;
  }
  .info-container {
    max-width: calc(100% - 200px) !important;
  }
}

.patient-header {
  background: none !important;
  border: none !important;
  font-size: 14px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.patient-header > .patient-id,
.patient-header > .patient-location {
  margin-bottom: 0.35em;
}

.patient-header .label,
.dashboard .label {
  font-family: CircularStd-Book;
  color: #333333;
  opacity: 0.5;
  display: inline-block;
}

.patient-header .label {
  min-width: 125px;
}

.patient-header h1 {
  font-size: 2em !important;
  margin: 10px 0 5px 0 !important;
}

.patient-header .patient-data {
}

.patient-header .header-buttons {
  margin-top: 0.5rem;
}

.patient-header .header-buttons button {
  padding: 0.5rem 1.25rem;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #00455c !important;
  background-image: none !important;
  margin-bottom: 0.25rem;
}

.info-container,
.info-container > [privilege] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto !important;
  margin: 0 !important;
  order: 2;
}

.container {
  position: relative;
  max-width: none !important;
  padding: 0 !important;
}

.action-section {
  margin-top: 10px !important;
  border: none !important;
}

.action-section h3 {
  margin-left: 5px !important;
}

.action-section i {
  margin-left: 0 !important;
}

.action-container {
  order: 1;
  width: 200px !important;
  margin: 0 !important;
}

.dashboard {
  background-color: inherit !important;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: -15px;
}

.info-section {
  width: 280px !important;
  min-height: 260px;
  background-color: white !important;
  margin-left: 15px !important;
  margin-bottom: 15px !important;
  display: inline-flex !important;
  flex-direction: column;
  font-size: 14px;
}

.info-header {
  border-bottom: 3px solid #00455c !important;
  min-height: 34px;
  margin: 5px 10px 0;
  padding-bottom: 5px;
}

.info-header h3 {
  text-transform: lowercase !important;
}
.info-header h3::first-letter {
  text-transform: capitalize !important;
}

.info-body {
  background: none !important;
  background-color: inherit !important;
  border: none !important;
  flex: 1;
}

.info-body.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px !important;
}

.dashboard .action-section h3 {
  border: none !important;
}

.dashboard .action-section h3::before {
  content: none !important;
}

/** Common **/
body {
  background-color: #fafafa !important;
  max-width: none !important;
  width: auto !important;
  margin-top: 0 !important;
  font-family: 'CircularStd', serif !important;
}

div#content {
  padding: 0;
}

p {
  font-family: CircularStd-Book;
}

div#body-wrapper,
div.body-wrapper {
  padding: 1em 1em 0;
  margin: 0;
  background-color: transparent !important;
}

form#login-form {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 576px) {
  header {
    padding: 0 2em 0 2em !important;
  }
  div#body-wrapper,
  div.body-wrapper,
  #breadcrumbs {
    padding: 0 2rem 0;
  }
  .container > .dashboard {
    margin-right: -2rem;
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  header {
    padding: 0 4em 0 4em !important;
  }
  div#body-wrapper,
  div.body-wrapper,
  #breadcrumbs {
    padding: 0 4rem 0;
  }
  .container > .dashboard {
    margin-right: -4rem;
  }
}
@media only screen and (min-width: 992px) {
  header {
    padding: 0 6em 0 6em !important;
  }
  div#body-wrapper,
  div.body-wrapper,
  #breadcrumbs {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    padding: 0 8em 0 8em !important;
  }
  div#body-wrapper,
  div.body-wrapper,
  #breadcrumbs {
    padding: 0 8rem 0;
  }
}
/** Patient Dashboard cols **/
@media only screen and (min-width: 860px) {
  .container > .dashboard {
    max-width: 800px;
  }
}
@media only screen and (min-width: 1200px) {
  .container > .dashboard {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1580px) {
  .container > .dashboard {
    /* max-width: 1400px; */
    /* allow for unlimited number of widgets per row */
    max-width: none;
  }
}
