@font-face {
    font-family: "CircularStd";
    font-style: normal;
    font-weight: normal;
    src: url("font/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd";
    font-style: normal;
    font-weight: bold;
    src: url("font/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Book";
    font-style: normal;
    font-weight: normal;
    src: url("font/CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: "CircularStd-Book";
    font-style: italic;
    font-weight: normal;
    src: url("font/CircularStd-BookItalic.otf") format("opentype");
}

body {
    background-color: #fafafa !important;
    max-width: none !important;
    width: auto !important;
    margin-top: 0 !important;
    font-family: "CircularStd", serif !important;
}

header {
    border-radius: 0 !important;
    padding: 0 1em 0 1em;
}

header .logo {
    margin: 5px 0 !important;
}

header .logo img {
    content: url("img/logo.png");
    height: 30px !important;
    width: auto !important;
}

header nav.navbar {
    padding: 0 !important;
}

header .user-options li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

header #user-account-menu li a {
    padding: 0 !important;
}

div#content {
    padding: 0;
}

p {
    font-family: CircularStd-Book;
}

div#body-wrapper {
    padding: 1em 1em 0;
    margin: 0;
    background-color: transparent !important;
}

.homeList > a.button {
    background: white !important;
    border-color: #eaeaea !important;
    font-family: CircularStd-Book !important;
    color: black !important;
    font-size: 14px !important;
    padding: 0 25px 10px 25px !important;
    height: 145px !important;
}

.homeList > a.button > i {
    margin: 25px auto 15px auto !important;
    color: #7F7F7F !important;
    height: 45px !important;
    font-size: 40px !important;
    padding: 0 !important;
    line-height: normal !important;
}

i[class^='cfl-'] {
    padding: 0 !important;
}

i.cfl-find-patient {
    content: url("img/find-patient.png");
}

i.cfl-find-caregiver {
    content: url("img/find-caregiver.png");
}

i.cfl-register-patient {
    content: url("img/register-patient.png");
}

form#login-form {
    display: flex;
    justify-content: center;
}

ul#breadcrumbs {
    padding: 0 1rem 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

@media only screen and (min-width: 576px) {
    header {
        padding: 0 2rem 0 2rem;
    }
    div#body-wrapper, ul#breadcrumbs {
        padding: 0 2rem 0;
    }
}
@media only screen and (min-width: 768px) {
    header {
        padding: 0 4rem 0 4rem;
    }
    div#body-wrapper, ul#breadcrumbs {
        padding: 0 4rem 0;
    }
}
@media only screen and (min-width: 992px) {
    header {
        padding: 0 6rem 0 6rem;
    }
    div#body-wrapper, ul#breadcrumbs {
        padding: 0 6rem 0;
    }
}
@media only screen and (min-width: 1280px) {
    header {
        padding: 0 8rem 0 8rem;
    }
    div#body-wrapper, ul#breadcrumbs {
        padding: 0 8rem 0;
    }
}

#content h4 {
    font-family: CircularStd-Book !important;
    font-size: 16px !important;
    color: #333333 !important;
    opacity: 0.5 !important;
    font-weight: normal !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

#breadcrumbs {
    border-bottom: none !important;
    color: #4e5155 !important;
    font-size: 12px !important;
}

#breadcrumbs a {
    font-size: 12px !important;
    color: black !important;
}

#breadcrumbs .separator {
    margin: 0 .5em !important;
}

#apps {
    padding-left: 0 !important;
}
