#app .vmp-translations {
  .table-section {
    border: 1px solid #e5e5e5;

    .title-section {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2em;
    }

    .table td {
      vertical-align: middle;
      padding: 0;
      min-width: 200px;

      textarea.translation-input {
        min-height: 0;
        height: 100%;
        width: 100%;
        padding: 1em;
        word-break: break-word;
        outline: none;
        border: none !important;
        background-color: transparent;
        box-shadow: none;
        resize: none;

        &:hover,
        &:focus {
          box-shadow: inset 0 0 8px rgba(102, 175, 233, 0.6) !important;
        }

        &::placeholder {
          font-style: italic;
          font-weight: lighter;
          color: rgba(85, 85, 85, 0.2);
        }
      }
    }
  }

  .upload-button-wrapper {
    padding-bottom: 5em;
  }

  .upload-error {
    clear: both;
    margin-top: 1em;
    color: #df2020;
    font-weight: bold;
  }

  .data-empty {
    color: #777676;
    text-align: center;
  }
}
