#app .register-patient,
#app .conditions,
#app .condition,
#app .vmp-config {
  input:not([type='checkbox']),
  select:not([class*='react-datepicker__']),
  div[class*='__value-container'],
  div[class*='-ValueContainer'] {
    min-height: calc(4rem + 2px);
    margin-right: 15px;
    &.invalid {
      border: 1px red solid !important;
    }
    text-align: center;
    text-align-last: center;
    &::placeholder {
      text-align: start;
    }
    &.placeholder {
      padding-top: 1em;
      padding-bottom: 1em;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      font-family: CircularStd-Book;
      option {
        font-size: 16px;
        color: black;
      }
    }
  }
  input:not(:placeholder-shown),
  select:not(.placeholder):not([class*='react-datepicker__']) {
    padding-top: 2rem;
  }
  /* style react-select to resemble a regular input */
  div[class*='-container'] {
    & > div[class*='-control'] {
      border-radius: 0;
      box-shadow: none !important;
    }
  }
  div[class*='__value-container'] {
    min-height: calc(4rem) !important;
    overflow: visible;
    padding: 0 8px;
    font-family: CircularStd-Book;
    font-size: 14px;
    div[class*='-Placeholder'] {
      color: rgba(0, 0, 0, 0.45);
    }
    div[class*='__single-value'] {
      padding-top: calc(2rem - 4px);
      position: initial;
      margin-left: auto;
      margin-right: auto;
      color: black;
    }
    div[class*='__multi-value'] {
      z-index: 1;
    }
    div[class*='__remove'] {
      z-index: 1;
    }
    > div[class*='css-']:not([class*='-multiValue']) {
      position: absolute;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .select-button {
    padding: 0.75rem 1.5rem;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    color: black;

    &.active {
      background-color: #00455c !important;
      color: white;
    }
  }
  button:not(.disabled):active {
    background-color: #00455c !important;
  }
  button.cancel,
  .btn.cancel {
    background: transparent;
    color: black;
  }
}
