.dashboard {
  .title {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  .items {
    display: flex;
    .item {
      display: flex;
      width: 235px;
      height: 235px;
      border: 1px solid #eaeaea;
      background-color: white;
      padding: 1em;
      margin-right: 1.25em;
      div {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
      .item-content {
        flex-direction: column;
        .item-icon {
          padding-top: 1em;
        }
        .item-label {
          font-size: 16px;
          word-break: break-word;
          padding: 0 3em 0 3em;
        }
        text-align: center;
      }
    }
  }
}
