// default header css
header {
  position: relative;
  background-color: #00473f;
  color: #ccc;
  line-height: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

header .app-title {
  display: block;
  float: right;
  color: #eeeeee;
  font-size: 32px;
  margin: 4px;
  height: 100%;
  padding-top: 12px;
  padding-right: 5px;
}

header:before,
header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

header a,
header a:visited,
header a:hover,
header a:link {
  color: white;
}

header h1 {
  color: #fff;
  margin: 0;
  padding: 10px;
}

header .logo {
  float: left;
  margin: 4px;
}

header .logo img {
  width: 120px;
}

header .user-options {
  text-align: right;
}

header .user-options li {
  display: inline-block;
  margin: 10px 0 10px 20px;
}

header .user-options li.change-location,
header .user-options li.logout {
  color: white;
}

header .user-options li.change-location {
  border: 1px solid #006056;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

header .user-options li.change-location a {
  display: block;
}

header .user-options li.change-location:hover,
header .user-options li.change-location .focus {
  background: #006056;
}

header .user-options li.change-location:hover a:hover,
header .user-options li.change-location .focus a:hover {
  text-decoration: none;
}

header #session-location {
  position: absolute;
  display: none;
  top: 60px;
  left: 70px;
  background: white;
  border: 2px solid #006056;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 853px;
  font-size: 0.8em;
  z-index: 1;
}

header #session-location .select {
  font-size: 1em;
}

header #session-location li {
  width: 239px;
}

i.link {
  font-size: 0.7em;
}

// CFL's header css
header {
  background-color: #00455c;
  color: white;
}

header .navbar {
  height: auto;
}

header .user-options li.change-location {
  border: none;
}

header .user-options li.change-location:hover,
header .user-options li.change-location .focus {
  background: #10708e;
}

header #session-location {
  border: 2px solid #10708e;
}

header a:active,
a:hover {
  text-decoration: none;
}

.navbar-nav {
  color: #fff !important;
}

header {
  background-color: #00455c;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

header .logo {
  max-height: initial;
  margin: 4px;
}

header .user-options {
  margin-top: 10px;
  margin-right: 0;
}

header .location-container {
  border: 2px solid #10708e;
  padding: 0 20px;
  font-size: 0.8em;
}

header .location-container li {
  width: 30%;
  margin: 0 10px !important;
}

header #user-account-menu li a:hover,
.location-container li.selected,
.location-container li:hover,
#session-location li:hover,
#session-location li.selected {
  background-color: #10708e;
  color: #fff;
}

header #user-account-menu {
  position: absolute;
  background: #fff;
  color: #10708e;
  border: 2px solid #10708e;
  border-radius: 0;
  padding: 5px 10px 5px 10px;
}

header #user-account-menu li {
  margin: 10px;
  padding: 0;
}

header #user-account-menu li a {
  padding: 5px;
  background: #fff;
  color: #10708e;
}

header .location-container li,
#session-location li {
  color: #10708e;
}

// overrides
header {
  border-radius: 0 !important;
  padding: 0 1em 0 1em;
}

header .logo {
  margin: 5px 0 !important;
}

header .logo img {
  content: url("../../assets/img/logo.png");
  height: 30px !important;
  width: auto !important;
}

header nav.navbar {
  padding: 0 !important;
}

header .user-options li {
  margin-top: 7px !important;
  margin-bottom: 0 !important;
}

header .user-options li i {
  display: inline-block;
  width: 1.25em;
  text-align: center;
  padding: 0.2em;
  margin-right: 0.4em;
  margin-left: 0.4em;
}

header i.small {
  font-size: 1.2em !important;
}

header #user-account-menu li a {
  padding: 0 !important;
}

@media only screen and (min-width: 576px) {
  header {
    padding: 0 2em 0 2em;
  }
}
@media only screen and (min-width: 768px) {
  header {
    padding: 0 4em 0 4em;
  }
}
@media only screen and (min-width: 992px) {
  header {
    padding: 0 6em 0 6em;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    padding: 0 8em 0 8em;
  }
}

header .user-options {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
