.paged-table {
  text-align: center;
  thead tr th {
    font-size: 16px;
    font-weight: normal;
    padding-top: 0;
    text-transform: uppercase;
  }
  tbody tr td:first-of-type,
  thead tr th:first-of-type {
    padding-left: 2em;
  }
  tbody tr td {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  tfoot {
    align-items: center;
  }
}

.pagination {
  align-items: center;
  justify-content: center;
}
