.paged-table {
  text-align: center;
  thead tr th {
    text-transform: uppercase;
    padding-top: 0;
  }
  tbody tr td:first-of-type,
  thead tr th:first-of-type {
    padding-left: 2em;
  }
  tbody tr td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
  tfoot {
    align-items: center;
  }
}

.pagination {
  align-items: center;
  justify-content: center;
}
