.table {
  text-align: center;
  thead tr th {
    text-transform: uppercase;
    padding-top: 0;
    text-align: center !important;
  }
  tbody tr td:first-of-type,
  thead tr th:first-of-type {
    padding-left: 2em;
  }
  @media only screen and (min-width: 1280px) {
    tbody tr td,
    thead tr th {
      font-size: 16px;
      padding: 0.5rem;
    }
  }
  tbody tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
  }
  tbody td:not(.td-clickable) {
    cursor: default !important;
  }
  tfoot {
    align-items: center;
  }
}

.table-responsive {
  border: none !important;
}

.pagination {
  align-items: center;
  justify-content: center;
}
