.register-patient {
  .step-list {
    li.list-group-item {
      padding: 0.75rem 1.25rem !important;
      border: none;
      img.step-icon {
        color: white;
        margin-left: -1.1em;
        margin-right: 0.1em;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &.valid {
        background-color: #00455c;
        color: white;
      }
      &.active {
        background-color: #00455c;
      }
    }
    font-size: 12px;
    @media only screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
  .step {
    background-color: white;
    padding-top: 15px;
    min-height: 400px;
    .step-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .step-buttons {
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin-bottom: 1em;
        button {
          padding: 0.5rem 1.85rem;
          font-size: 12px;
          text-transform: uppercase;
          background-color: #00455c;
        }
      }
      .step-title {
        margin-bottom: 2em;
      }
    }
    .gender-button {
      padding: 0.75rem 1.5rem;
      font-size: 12px;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0);
      color: black;

      &.active {
        background-color: #00455c !important;
        color: white;
      }
    }
    .form-group > div {
      padding-left: 0;
      padding-right: 1em;
      padding-bottom: 0.5em;
    }
    input,
    select,
    div[class*="__value-container"] {
      height: calc(4rem + 2px);
      margin-right: 15px;
      &.invalid {
        border: 1px red solid;
      }
      text-align: center;
      text-align-last: center;
      &::placeholder {
        text-align: start;
      }
      &.placeholder {
        padding-top: 1em;
        padding-bottom: 1em;
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        font-family: CircularStd-Book;
        option {
          font-size: 16px;
          color: black;
        }
      }
      div[class*="__single-value"] {
        margin-top: 3em;
        position: initial;
        margin-left: auto;
        margin-right: auto;
      }
      div[class*="-Input"] {
        position: absolute;
        left: 45%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    input:not(:placeholder-shown),
    select:not(.placeholder) {
      padding-top: 2rem;
    }
    /* style react-select to resemble a regular input */
    div[class*="__value-container"] {
      overflow: visible;
      padding: 0 8px;
      div[class*="__placeholder"] {
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        font-family: CircularStd-Book;
      }
      div[class*="-Input"] {
        padding-top: 0;
      }
    }
    .other-person {
      min-width: 150px;
    }
  }
}
