#app .react-codemirror2 .CodeMirror {
  padding-top: 2rem;
  min-height: calc(var(--input-min-height) + 2px);
  box-shadow: var(--input-box-shadow) !important;
  border: var(--input-border);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: CircularStd-Book;
  font-size: var(--default-placeholder-font-size);
  color: var(--main-color);

  &.CodeMirror-empty {
    color: var(--placeholder-color);
  }

  &.CodeMirror-focused {
    box-shadow: var(--input-box-shadow), var(--input-focused-box-shadow) !important;
  }

  &.invalid {
    border: var(--error-border) !important;
  }
}
